.first{
    color: #e8175d;
    text-align: center;
    font-size: 25px;
}

.second{
    text-align: center;
    font-size: 15px;
}

.box1{
    width:35%;
    height:300px;
    margin-left: 150px;
    color: white;
    margin-top: 65px;
    text-align: center;
    background-color: #363636;
    border-radius: 7px;
}
.bd{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
}
.cs{
    border:2px solid black;
    background-color: #e8175d;  
    border-radius: 7px;
    width:180px;
    height:50px;
    font-size: large;
}

.box2{
    width:36.5%;
    height:300px;
    margin-left: 150px;
    margin-top: 65px;
    text-align: center;
    color: white;
    background-color: #363636;
    border-radius: 7px;

}
.hd1{
    color: white;
}