@font-face {
  font-family: "Recursive";   /*Can be any text*/
  src: local("Recursive"),
    url("C:\Users\jrts2\Downloads\Recursive\static\Recursive_Casual-Bold.ttf") format("truetype");
  font-family: "Ruslan Display";   /*Can be any text*/
  src: local("Ruslan Display"),
    url("C:\Users\jrts2\Downloads\Ruslan_Display\RuslanDisplay-Regular.ttf") format("truetype");
}
.image{
  margin-top: 20px;
  margin-left: 20px;
  width:20vw;
  height: 10vh;
  position:relative;
}

.contain{
  background-color: #363636;
  width: 800px;
  height: 1900px;
  left: 450px;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position:absolute;
}

.container5{
  
  margin-right: 100px ;
  margin-top: 20px;
  width: 500px;
  padding: 1%;
  color: #e8175d;
  font-family: Ruslan Display;
  position:absolute;
}


.row1{
  padding: 2%;
  color:white;
  font-size: larger;
  text-align: left;
  font-family: Recursive;
  color: white;
}
.row8{
  margin-left: 270px;
  padding: 2%;
  color:white;
  font-size: larger;
  text-align: left;
  font-family: Recursive;
  color: white;
}
input{
  background-color:transparent;
  border:none;
  border-bottom: 2px solid #e8175d;
  width: 250px;
  height: 30px;
  color: #e8175d;
  font-family: Recursive;
}
.btnr{
  border-radius: 10px;
  width: 180px;
  height: 50px;
  font-family: Recursive;
  font-size: 20px;
  background-color: #e8175d;

}


.check{
  width:20px;
  height:30px;
  justify-content: center;
  align-items: center;
}

.container10{
  display: flex;
 justify-content: center;
 align-items: center;
 min-height: 10vh;
 font-size: 60px;
 color: #e8175d;
}

.Radio{
  display: none;
}

.Rating{
  cursor: pointer;
  color: #e8175d;
}

.pic{
  padding-top: 60px;
  margin-left: 220px;
  
}
select{
  height: 30px;
  width: 300px;
  border-radius: 5px;
  color: #1b2430;
  background-color: #e8175d;
  justify-content: center;
  align-items: center;
}